/* basic.css */

/* CSS Variables for Colors, Fonts, and Spacing */
:root {
    /* Neutral Colors */
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-light-gray: #F1F2F4;
    --color-gray: #B3B3B3;
    --color-dark-gray: #171617;

    /* Primary Colors */
    --night-view-green: #00AD89;
    --night-view-purple: #591C61;
    --color-cool-blue: #2196f3;

    /* Status Colors */
    /*const redAccent = Colors.redAccent;*/
    --color-red: #CB4C4E;

    /* Font and Spacing */
    --font-primary: 'Inter', sans-serif;
    --font-size-h1: 2.5rem;
    --font-size-large: 1.5rem;
    --font-size-medium: 1rem;
    --font-size-small: 0.9rem;
    --default-line-height: 1.1;

    --normal-border-radius: 10px;

    --space-small: 8px;
    --space-medium: 16px;
    --space-large: 32px;

    --small-padding: 8px;
    --main-padding: 16px;
    --small-spacer-value: 8px;
    --main-spacer-value: 16px;
    --normal-size-radius: 20px; /* CircleAvatar radius */
    --bigger-size-radius: 30px; /* Logo and capacity indicator radius */


    /* Text Styles (approximated from kTextStyleH1, kTextStyleP1, kTextStyleH3) */
    --h1-font-size: 24px;
    --p1-font-size: 16px;
    --h3-font-size: 18px;
    --main-stroke-width: 1px;


}

/* Global Body Styles */
body {
    text-align: center; /* Centers text inside labels */
    font-family: var(--font-primary), serif;
    font-size: var(--font-size-small);
    background-color: var(--color-black);
    color: var(--color-white);
    margin: var(--space-small);
    padding: var(--space-small);
    line-height: var(--default-line-height);
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: var(--night-view-green);
    font-weight: 500;
    margin-bottom: var(--space-medium);
    text-align: center;
}


/* Anchor Styles */
a {
    text-decoration: underline;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--night-view-green);
    text-decoration: underline;
}

summary {
    font-size: var(--font-size-large);
    /*font-weight: var(--font-weight-bold);*/
    color: var(--night-view-green);
    cursor: pointer;
    justify-content: center;
}

#primaryColor:hover,
#secondaryColor:hover,
#font:hover {
    cursor: pointer;
}

textarea::placeholder{
    color: var(--color-white);
    font-size: large;
}

.nvpurple{
    color: var(--night-view-purple);
}

.nvgreen {
    color: var(--night-view-green);
}

.white {
    color: var(--color-white);
}

.blackbackground{
    background-color: var(--color-black);
}

.red {
    color: var(--color-red);
}

.cool-blue{
    color: var(--color-cool-blue);
}

.input {
    background-color: var(--color-black);
}


/* Responsive Adjustments TODO */
/*@media (max-width: 600px) {*/
/**/
/*}*/