/*!*button.css*!*/

.button {
    width: 160px;
    height: 35px;
    padding: var(--space-small);
    margin: var(--space-small) 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-size-small);
    color: var(--color-white);
    text-align: center;
    transition: all 0.3s ease;
}

.login-btn {
    background-color: transparent;
    color: var(--night-view-green); /* Minty green */
    border: 3px solid white;
    border-radius: 20px; /* Match input */
    min-width: 300px;
    max-width: 300px;
    padding: 14px 20px; /* Match input padding */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s;
    text-align: center;
}

.login-btn:hover {
    background-color: var(--night-view-green);
    color: var(--color-white);
}

.offer-button {
    background: none;
    border: none;
    color: var(--color-red); /* Blue color for clickable text, adjust as needed */
    cursor: pointer;
    padding: 0;
    font-size: 1rem;
    text-decoration: underline;
    font-weight: bold;
}

.offer-button:hover {
    color: #0056b3; /* Darker blue on hover, adjust as needed */
}

.offer-button.has-offer {
    color: var(--night-view-purple); /* Green color for "Offer Available", adjust as needed */
}

.button-delete {
    background-color: var(--color-red);
}

.button-success {
    background-color: var(--night-view-green);
}

.button-disabled {
    background-color: var(--color-dark-gray);
    /*background-color: var(--color-red);*/
    cursor: not-allowed;
    opacity: 0.8;
}

.see-more-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #222;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.see-more-btn:hover {
    background-color: #444;
}


.button-notification {
    width: 95%;
    height: 75%;
    background-color: var(--color-white);
    color: var(--night-view-green);
    font-weight: bold;
}

button:hover {
    background-color: var(--night-view-green);
    color: var(--color-white);
    /*border 10px solid var(--night-view-purple);*/
}

button-disabled:hover {
    background-color: var(--color-red);
    cursor: not-allowed;
    opacity: 0.1;
}