/*!*button.css*!*/

.button {
    width: 160px;
    height: 35px;
    padding: var(--space-small);
    margin: var(--space-small) 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-size-small);
    color: var(--color-white);
    text-align: center;
    transition: all 0.3s ease;
}

.login-btn {
    background-color: transparent;
    color: var(--night-view-green); /* Minty green */
    border: 3px solid white;
    border-radius: 20px; /* Match input */
    min-width: 300px;
    max-width: 300px;
    padding: 14px 20px; /* Match input padding */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s;
    text-align: center;
}


.login-btn:hover {
    background-color: var(--night-view-green);
    color: var(--color-white);
}
.offer-button {
    background: none;
    border: none;
    color: #007bff; /* Blue color for clickable text, adjust as needed */
    cursor: pointer;
    padding: 0;
    font-size: 1rem;
    text-decoration: underline;
}

.offer-button:hover {
    color: #0056b3; /* Darker blue on hover, adjust as needed */
}

.offer-button.has-offer {
    color: #28a745; /* Green color for "Offer Available", adjust as needed */
}

.offer-button.has-offer:hover {
    color: #218838; /* Darker green on hover, adjust as needed */
}

.button-delete {
    background-color: var(--color-red);
}

/*.button-edit {*/
/*    background-color: var(--color-light-blue);*/
/*}*/

.button-success {
    background-color: var(--night-view-green);

}

.button-disabled {
    background-color: var(--color-dark-gray);
    color: var(--color-white);
    cursor: not-allowed;
}

/*!* Hover Effects *!*/
/*.button-delete:hover {*/
/*    transform: scale(1.1);*/
/*    background-color: var(--color-dark-red);*/
/*}*/

/*.button-edit:hover {*/
/*    transform: scale(1.1);*/
/*    background-color: var(--color-medium-blue);*/
/*}*/

/*.button-success:hover {*/
/*    transform: scale(1.1);*/
/*    background-color: var(--color-dark-green);*/
/*}*/