/*container.css*/
.container {
    display: flex;
    gap: 0.1vw; /* space between containers */
    justify-content: space-between;
    align-items: flex-start;
}

.left-container {
    flex: 2; /* takes up 2/3 of the container's width */
    padding: 10px;
    border-radius: 3%;
    border: var(--night-view-purple) 0.1px solid;
    height: 880px;

}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: auto; /* Pushes this to the bottom within flex column */
    gap: var(--space-medium);
}

.body-container {
    display: grid;
    grid-template-columns: 1.6fr 0.4fr 1fr; /* ✅ 2/3 for left, 1/3 for right */
    gap: 1vw;

}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.middle-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}


.right-section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.image-scroll-container {
    min-height: 150px;
    max-height: 250px;
    overflow-y: auto;
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: row;
    gap: 8px; /* spacing between images */
    border: 1px dashed var(--night-view-green);
    border-radius: var(--normal-border-radius);
    padding: 8px;
}

.image-scroll-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}


.follower-container {
    display: grid; /* THIS is what makes the magic happen */
    grid-template-columns: 2fr 1fr; /* Left side (follower), Right side (notification) */
    gap: 3vw;
    align-items: start;
    padding: 2vw;

}


.data-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}



@media (max-width: 768px) {
    .body-container {
        grid-template-columns: 1fr; /* Stack sections on mobile */
    }

    .right-section {
        width: 100%; /* Make it full width on small screens */
    }
}
