.image-popup {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.popup-content {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

.popup-content img {
    max-width: 90vw;
    max-height: 80vh;
}


.color-picker-popup {
    position: absolute;
    z-index: 1000;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.color-picker-popup input[type="color"] {
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
}