/*iphone_app_display.css*/

.iphone-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.iphone-content {
    flex: 1;
}

.right-container {
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 48px; /* Adjust for a more rounded frame */
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Maintain iPhone-like aspect ratio */
    aspect-ratio: 9 / 19.5;
    width: 100%;
    max-width: 450px; /* Adjust width as needed */
    height: auto;
    max-height: 900px; /* Adjust height as needed */
    flex-shrink: 0;
    flex-grow: 0;
    align-self: flex-start;
    border: 1px solid var(--night-view-green);
    position: relative;
}

.offer-image {
    max-height: 200px; /* Or however much vertical space you want it to use */
    overflow-y: auto; /* Makes just this area scrollable */
}
.offer-image img {
    width: 100%; /* Fit within container width */
    height: auto; /* Maintain aspect ratio */
    max-height: 500px; /* Limit height to prevent overflow; adjust as needed */
    object-fit: cover; /* Crop if necessary while preserving aspect ratio */
    display: block; /* Remove inline spacing */
}

.offer-image::-webkit-scrollbar {
    width: 4px;
}

.offer-image::-webkit-scrollbar-thumb {
    background-color: var(--night-view-purple);
    border-radius: 10px;
}

.offer-image::-webkit-scrollbar-track {
    background: transparent;
}


#map {
    flex-grow: 1; /* Allows the map to take up remaining space */
    width: 100%;
}